.ministries-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  height: 120vh;
  background: var(--light-grey-color);
}

.ministries-content {
  position: absolute;
  width: 80%;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
}

.ministries-content > p {
  font-size: 150%;
  font-weight: 300;
}

.cards {
  width: 100%;
  display: flex;
  flex: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ministry-card {
  position: relative;
  box-sizing: border-box;
  width: 300px;
  height: 300px;
  margin-top: 2%;
  margin-bottom: 2%;
}

.card {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transform-style: preserve-3d;
  transition: all 1s ease;
}

.card:hover {
  transform: rotateY(180deg);
}

.front {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 50%;
  background-image: white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.front#one {
  background-image: url("../../../assets/MEDIA.png");
}
.front#two {
  background-image: url("../../../assets/EDUCATION.png");
}
.front#three {
  background-image: url("../../../assets/SOCIAL.png");
}
.front#four {
  background-image: url("../../../assets/CHURCH.png");
}
.front#five {
  background-image: url("../../../assets/BUSINESS.png");
}

.back {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10%;
  backface-visibility: hidden;
  border-radius: 50%;
  background: var(--orange-color);
  transform: rotateY(180deg);
}

.more-btn-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  width: 300px;
  height: 300px;
}

.more-btn {
  color: white;
  background-color: black;
  padding: 3%;
  border-radius: 4px;
  white-space: nowrap;
}

.more-btn::after {
  content: "→";
  font-size: 200%;
  display: inline;
  padding: 3%;
  line-height: 1;
  vertical-align: middle;
}
