.testimonies-wrapper {
  height: 100vh;
  background: rgb(2, 78, 255);
  background: linear-gradient(
    270deg,
    rgba(2, 78, 255, 1) 35%,
    rgba(2, 255, 171, 1) 100%
  );
  display: flex;
}

.testimonies-img-wrapper {
  display: flex;
  position: relative;
  width: 200%;
  margin-top: 10%;
  margin-left: 5%;
}

.testimonies-img1-wrapper {
  position: absolute;
  z-index: 1;
}

.testimonies-img2-wrapper {
  position: absolute;
  bottom: 20%;
  left: 50%;
  z-index: 2;
}

.testimonies-content {
  margin-top: 10%;
  color: white;
  margin-right: 8%;
  text-align: right;
}

.testimonies-header {
  font-size: 150%;
  font-weight: 300;
}

.testimonies-title {
  font-size: 300%;
  font-weight: 600;
}

.testimonies-desc {
  margin-bottom: 10%;
  font-weight: 300;
}

.findout-btn-white {
  color: white;
  right: 0;
  padding: 2%;
  border-radius: 8px;
  border: 4px solid #fff;
  background: rgba(0, 0, 0, 0);
}

.findout-btn-white::after {
  content: "→";
  font-size: 200%;
  padding: 3%;
  vertical-align: middle;
  color: white;
}
