.location-wrapper {
  position: relative;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
}

.location-content {
  display: flex;
  margin-top: 5%;
  font-size: 70%;
}

.location-address-header::before {
  content: url("../../../assets/address_icon.svg");
}

.map-wrapper {
  position: absolute;
  width: 100%;
  height: 70%;
  bottom: 0;
}

iframe {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 720px) {
  .location-wrapper {
    height: 50vh;
  }

  .map-wrapper {
    height: 80%;
  }
}
