.footer-wrapper {
  height: 75vh;
  background: var(--dark-grey-color);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-title {
  font-size: 120%;
  font-weight: 600;
  font-style: normal;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-top: 2%;
  margin-bottom: 5%;
}

.input-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 2%;
}

input {
  font-size: 100%;
  width: 48%;
  padding: 1%;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 1%;
}

.join-btn-wrapper {
  text-align: right;
}

.icons-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 2%;
}

.icons {
  display: flex;
  gap: 10%;
}

.copyright-footer {
  font-size: 60%;
}

/* alternative footer design w/o forms */
.join-us-btns-container {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.join-buttons {
  display: flex;
  gap: 1%;
  font-size: 200%;
  margin-bottom: 10%;
}

.join-buttons > .btn-orange {
  position: relative;
}

.join-buttons .btn-orange:first-child {
}

.join-buttons .btn-orange:first-child::after {
  content: url("../../assets/mail_btn.svg");
  left: 30px;
}

.join-buttons .btn-orange:nth-child(2)::after {
  content: url("../../assets/whatsapp_btn.svg");
}

/* mobile device */
@media screen and (max-width: 720px) {
  .footer-wrapper {
    height: 50vh;
  }
  .form-title {
    font-size: 80%;
  }

  .form-container {
    width: 80%;
    margin-bottom: 10%;
  }

  input {
    font-size: 70%;
  }

  .join-btn-wrapper {
    margin-top: 2%;
  }

  .join-btn-wrapper > a {
    padding: 3%;
  }

  .icons-wrapper {
    width: 80%;
  }

  .social-icons > h3 {
    font-size: 70%;
  }

  .contact-us > h3 {
    font-size: 70%;
  }

  .copyright-footer {
    font-size: 20%;
    width: 80%;
  }

  .icons {
    width: 70%;
    gap: 5%;
  }

  .icons a img {
    max-width: 70%;
  }
}
