:root {
  --dark-grey-color: #313131;
  --light-grey-color: #dedede;
  --bright-blue-color: #024eff;
  --tosca-color: #02ffab;
  --beige-color: #fcf2e2;
  --orange-color: #ffb302;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  margin-left: 0;
}

a {
  text-decoration: none;
}
